<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested file or directory does not exist, serve the public/index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ public/index.html [L]
</IfModule>