@media all and (min-width: 320px) and (max-width: 991px) {
.header-sec {
    background: rgb(255 255 255);
    padding: 10px 5px;
}
.header-sec li.nav-item.signnav a.nav-link {
    margin-left: 0px;
    margin-top: 10px;
}
button.navbar-toggler{
    padding: 0px !important;
    position: relative;
    box-shadow: none !important;
    outline: none !important; 
}
button.navbar-toggler span.navbar-toggler-icon {
    background: none !important;
    position: relative;
    border-top: 2px solid #01a2dd;
    height: 22px !important;
}
button.navbar-toggler span.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 8px;
    width: 100%;
    height: 2px;
    background: #01a2dd;
}
button.navbar-toggler span.navbar-toggler-icon::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #01a2dd;
}
.header-sec a.navbar-brand {
    width: 43px;
}
.main {
    padding: 90px 0px 20px 0px;
}
li.nav-item.dropdown a.nav-link {
    padding: 3px 0px;
}
.mobilemenu {
    display: block;
}
.header-sec li.nav-item{
    display: none;
}
li.nav-item.dropdown.notifications {
    display: inline-block;
    margin-right: 10px;
}
li.nav-item.dropdown.profiledrop {
    display: inline-block;
}
.header-sec li.nav-item.dropdown.notifications .dropdown-menu {
    min-height: 300px;
    min-width: 290px;
    height: 300px;
    left: -109px;
    right: auto;
}
div#collapsibleNavbar {
    display: inline-block;
    flex-basis: auto;
    text-align: right;
    margin-right: 37px;
}
div#collapsibleNavbar ul#myNavbar {
    display: inline-block;
}
.sidebar {
    left: -250px;
}
.sidebar.sidebarleft {
    left: 0px;
    padding: 73px 25px 30px 25px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
ul.mobilenav {
    display: block;
}
ul.mobilenav li.nav-item a.nav-link {
    padding: 3px 17px;
}
.sidebar ul li {
    margin-bottom: 5px;
}

}

/*320-991*/

@media all and (min-width: 320px) and (max-width: 767px) {
.form-createmid {
    padding: 30px 20px;
}
.action-button-previous {
    height: 38px;
    font-size: 13px;
    padding: 8px 14px;
    margin-right: 10px;
}
.action-button {
    height: 38px;
    font-size: 13px;
    padding: 8px 14px;
}
h2.fs-title {
    font-size: 20px;
}
.form-card .form-group h3 {
    font-size: 16px;
}
.dashboard-card h3 {
    font-size: 16px;
}
ul.notification-list {
    height: auto;
}
.p3 {
    padding: 20px;
}
.candidateinfo ul li {
    padding-left: 0px;
    margin-bottom: 11px;
}
.candidateinfo ul li span.infolable {
    position: static;
    width: auto;
    display: block;
}
.candidateinfo ul li span.labeldesc {
    display: block;
}
li.discussions-li {
    padding-right: 0px;
}
li.discussions-li.discussionsright {
    padding-left: 0px;
}
.textarea-sec-inner textarea.form-control {
    border-radius: 10px;
    padding: 19px 62px 17px 18px;
    font-size: 12px;
}
.editbtn {
    text-align: left;
}
.editbtn.interviewbtn {
    margin-top: 10px;
}
.applicantslist {
    padding: 30px 30px 30px 30px;
    min-height: auto;
}
.applicants-img {
    position: static;
    margin: 0px auto 20px;
}
.applicants-desc ul li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}
.paginationdiv ul.pagination li.page-item.previous {
    float: none;
}
.paginationdiv ul.pagination li.page-item.next {
    float: none;
}
.paginationdiv ul.pagination li.page-item {
    margin: 0px 3px;
}
.applicants-search {
    float: none;
    display: block;
    margin-top: 13px;
}
.applicants-select {
    text-align: center;
}
.applicants-select span {
    display: block;
    margin-right: 0px;
}
.applicants-search span {
    display: block;
}
.directory-singleandidate .candidateinfo ul li {
    width: 100%;
}
.directory-singleWork h2.box-heading {
    min-height: auto;
    margin-top: 30px;
}
.directory-singleWork {
    padding-top: 0px;
}
.directory-singleandidate .btn.btn-info {
    position: static;
    margin-top: 13px;
}
.directory-singleandidate h2.box-heading span {
    display: block;
}
}

/*320-767*/

@media all and (min-width: 768px) and (max-width: 991px) {
.dashboard-card {
    padding: 30px 20px 30px 20px;
    text-align: center;
    height: 168px;
}
.employercard .dashboard-card {
    padding: 30px 20px 30px 20px;
}
.dashboard-card img.img-fluid {
    position: static;
    transform: none;
    margin: 0px auto 7px;
}
.dashboard-card h2 {
    font-size: 22px;
}
.dashboard-card h3 {
    font-size: 14px;
}
ul.notification-list li.notification-item span.user-avatar {
    width: 30px;
}
ul.notification-list li.notification-item {
    padding-left: 40px;
}
ul.notification-list li.notification-item a.userread {
    font-size: 12px;
}

}

/*768-991*/

@media all and (min-width: 992px) and (max-width: 1024px) {
.header-sec {
    padding: 10px 35px;
}
.main {
    padding: 118px 5px 30px 225px;
} 
.sidebar {
    width: 220px;
    padding: 115px 15px 30px 15px;
}   
.dashboard-card {
    padding: 30px 20px 30px 20px;
    text-align: center;
    height: 168px;
}
.employercard .dashboard-card {
    padding: 30px 20px 30px 20px;
}
.dashboard-card img.img-fluid {
    position: static;
    transform: none;
    margin: 0px auto 7px;
}
.dashboard-card h2 {
    font-size: 22px;
}
.dashboard-card h3 {
    font-size: 14px;
}
ul.notification-list li.notification-item span.user-avatar {
    width: 30px;
}
ul.notification-list li.notification-item {
    padding-left: 40px;
}
ul.notification-list li.notification-item a.userread {
    font-size: 12px;
}
ul.notification-list {
    height: auto;
}
.p3 {
    padding: 20px;
}
.profileimgview {
    width: 70px;
    height: 70px;
}
.profileimg {
    padding-left: 80px;
}
.btn-sec .btn.btn-info {
    padding: 7px 13px;
}
.workview .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.skills-view .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

}

/*992-1024*/

@media all and (min-width: 768px) and (max-width: 1024px) {
.directory-singleandidate .candidateinfo ul li {
    width: 100%;
}
}

/*768-1024*/

@media all and (min-width: 1025px) and (max-width: 1199px) {
.header-sec {
    padding: 10px 35px;
}
.main {
    padding: 118px 5px 30px 225px;
} 
.sidebar {
    width: 220px;
    padding: 115px 15px 30px 15px;
}
.dashboard-card {
    padding: 30px 20px 30px 20px;
    text-align: center;
    height: 168px;
}
.employercard .dashboard-card {
    padding: 30px 20px 30px 20px;
}
.dashboard-card img.img-fluid {
    position: static;
    transform: none;
    margin: 0px auto 7px;
}
.dashboard-card h2 {
    font-size: 22px;
}
.dashboard-card h3 {
    font-size: 14px;
}
ul.notification-list li.notification-item span.user-avatar {
    width: 40px;
}
.workview .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.skills-view .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
ul.notification-list li.notification-item {
    padding-left: 52px;
}
.p3 {
    padding: 20px;
}
.profileimgview {
    width: 70px;
    height: 70px;
}
.profileimg {
    padding-left: 80px;
        min-height: 70px;
}
.directory-singleandidate .candidateinfo ul li {
    width: 100%;
}
}

/*1025-1199*/

@media all and (min-width: 1200px) and (max-width: 1320px) {
.dashboard-card h2 {
    font-size: 30px;
}    
.dashboard-card h3 {
    font-size: 15px;
}
.profileimgview {
    width: 70px;
    height: 70px;
}
.profileimg {
    padding-left: 80px;
    min-height: 70px;
}

}

/*1200-1280*/