
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    /*background: #181c23;*/
    background-image: url(../images/bg.png);
    background-repeat: no-repeat !important;
    /*width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size: calc(100% + 50px);*/
    width: 100%;
    background-attachment: fixed;
    background-size: calc(100% + 50px);
    position: relative;
    background-repeat: no-repeat !important;
}
body::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none !important;
}
a.navbar-brand {
    width: 130px;
    padding: 0px;
    margin: 0px;
}
.header-sec {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    background: #59c1159c;
    padding: 10px 55px;
    box-shadow: 0px 6px 15px rgb(95 200 27);
}
.header-sec nav.navbar.navbar-expand-lg {
    padding: 0px;
}
.header-sec li.nav-item a.nav-link {
    color: #fff;
    text-transform: capitalize;
    padding: 7px 18px;
    font-size: 14px;
    border: 1px solid transparent;
    font-weight: 500;
}
.header-sec li.nav-item a.nav-link:hover {
    color: #fff;
}
.header-sec li.nav-item a.nav-link:focus {
    color: #fff;
}
.header-sec li.nav-item.loginnav a.nav-link {
    border: 1px solid #01a2dd !important;
    border-radius: 5px;
    color: #01a2dd;
        text-transform: uppercase;
}
.header-sec li.nav-item.signnav a.nav-link:hover {
    color: #fff;
}
.header-sec li.nav-item.signnav a.nav-link {
    background: #01a2dd !important;
    border: 1px solid #01a2dd !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 7px 27px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    margin-left: 13px;
    text-transform: uppercase;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.header-sec li.nav-item.signnav a.nav-link:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    background: #ff569c !important;
    border: 1px solid #ff569c !important;
}
.btn.btn-info {
    background: #01a2dd !important;
    border: 1px solid #01a2dd !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 10px 27px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.btn.btn-info:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    background: #ff569c !important;
    border: 1px solid #ff569c !important;
}

/*backend*/


h2.fs-title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
h2.fs-title span {
    color: #01a2dd;
}
.form-createmid {
    background: #fff;
    border-radius: 10px;
    padding: 50px 50px;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}
.form-group label {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #000000;
}
.box {
    height: auto;
    border-radius: 8px;
    background: none;
    text-align: center;
    padding: 11px 0px;
    border: 0.5px dashed #01a2dd;
}
#file-5 {
    display: none;
}
.box figure {
    display: inline-block;
    margin: 0px 6px 0px 0px;
}
.box label span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #60778C;
    display: inline-block;
}
.upload-mess p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #60778C;
    margin: 12px 0px 0px 0px;
}
.box label {
    margin: 0px;
}
.form-card .form-group {
    margin-bottom: 20px;
}
.form-card .form-group h3 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-card .form-group .form-control {
    border: 0.5px solid #CCD6E0;
    border-radius: 6px;
    min-height: 45px;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 14px;
    color: #7B7D7C;
    padding: 8px 18px;
}
span.star-color {
    color: #f53131;
}
.form-group-inner {
    margin-bottom: 10px;
}
.checkboxdesign h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 4px;
}
 label.form-check-label {
    margin: 0px !important;
    line-height: 19px;
    position: relative;
    min-height: 20px;
    padding-left: 7px;
    font-size: 12px;
}
.form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0px;
    top: 0px;
}
.form-check-input:checked::before {
    content: "";
    z-index: 111;
    border-left: 2px solid #01a2dd;
    width: 9px;
    height: 5px;
    left: 4px;
    top: 2px;
    position: absolute;
    border-bottom: 2px solid #01a2dd;
    transform: rotate(308deg);
}
.form-check-input::after {
    content: "";
    position: absolute;
    border: 1px solid #ccd6e0;
    border-radius: 3px;
    width: 17px;
    height: 16px;
    left: 0px;
    top: -3px;
}
.form-group-inner.form-check {
    margin-bottom: 0px;
}
.checkboxdesign {
    margin-bottom: 10px;
}
a.skipbtn {
    display: block;
    text-align: center;
    color: #f53131;
    margin-top: 14px;
}
.form-group-inner.addrole {
    margin-top: 10px;
}
.employment-type .form-group-inner.form-check {
    display: inline-block;
    margin-right: 18px;
}
input.next.action-button {
    float: right;
}
.form-group.ex-add {
    text-align: center;
}
.ex-add a {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    color: #01a2dd !important;
}
.ex-add a img.img-fluid {
    width: 14px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}
.next.action-button.lastban {
    float: right;
    line-height: 24px;
    color: #fff;
}
.sidebar {
    width: 250px;
    /*background: #292e38;*/
    padding: 115px 25px 30px 25px;
    position: fixed;
    z-index: 3;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
}
.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #b6bac1; 
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #b6bac1; 
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar ul li {
    display: block;
    margin-bottom: 25px;
}
.sidebar ul li a {
    padding: 12px 12px;
    display: block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #000;
    background: #181c23;
    transform: perspective(500px) rotateY(45deg);    
transition: 0.5s ease;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
    /*transform: rotateZ(2deg);*/
}
.sidebar ul li:hover {    
transition: 0.5s ease;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
    transform: perspective(200px) rotateY(45deg);
}
.sidebar ul li a i.la {
    font-size: 18px;
    margin-right: 10px;
}
.sidebar ul li a.active {
    background: #499d12;
    color: #ffffff;
}
.sidebar ul li a:hover {
    background: #181c23;
    color: #ffffff;
}
.profiledrop span {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #fff;
    display: inline-block;
    margin-right: 17px;
}
.profiledrop img.img-fluid {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    display: inline-block;
}
.header-sec li.nav-item.dropdown .dropdown-menu {
    position: absolute;
    margin: 15px 0px 0px 0px;
    padding: 0px 0px;
    left: auto;
    right: 0px;
    min-width: 185px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 95%);
    border: none;
    background: #171b22;
}
.header-sec li.nav-item.dropdown .dropdown-menu a.dropdown-item {
    padding: 9px 19px;
    display: block;
    color: #ffffff;
    border-bottom: 1px solid #3f444e;
    font-size: 14px;
    font-weight: 400;
    background: none !important;
}
.header-sec  li.nav-item.dropdown .dropdown-menu a.dropdown-item:last-child {
    border-bottom: none;
}
.header-sec li.nav-item.dropdown.notifications .dropdown-menu {
    background: #171b22;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 95%);
    border-radius: 15px;
    min-height: 300px;
    border: none;
    padding: 23px;
    min-width: 400px;
    overflow-y: scroll;
    height: 300px;
}
.dropdown.notifications a.nav-link.dropdown-toggle {
    padding: 7px 10px;
}
.dropdown.notifications a.nav-link i.la.la-bell {
    font-size: 22px;
    color: #fff;
}
.notifications-heading {
    position: relative;
    min-height: 27px;
    margin-bottom: 10px;
}
.notifications-heading h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0px;
}
.notifications-heading a {
    position: absolute;
    right: 0px;
    top: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #ff2020;
    text-decoration: underline !important;
}
.viewall {
    bottom: 20px;
    left: 23px;
    width: 100%;
    margin-top: 16px;
}
.viewall a {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #ff2020;
}
li.nav-item.dropdown a.nav-link::after  {
    display: none;
}
li.nav-item.dropdown a.nav-link {
    padding: 3px 18px;
}
.main {
    position: relative;
    padding: 118px 35px 30px 280px;
}
h2.pagename {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0px;
}
.dashboard-card {
    position: relative;
    height: 130px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    display: flex;
    background: #0000009c;
    border: 2px solid #000;
    box-shadow: 0 6px 15px rgb(0 0 0 / 58%);
    border-radius: 8px;
    padding: 30px 20px 30px 99px;
    margin-bottom: 30px;
    
    transition: 0.5s ease;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
}
.dashboardbg1 {
transform: perspective(500px) rotateY(25deg);
}

.dashboardbg3 {
transform: perspective(500px) rotateY(-25deg);
}
.dashboard-card:hover {
    transition: 0.5s ease;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
    transform: none !important;
}
.dashboard-card img.img-fluid {
    width: 58px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateX(0%) translateY(-50%);
}
.dashboard-card h2 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 3px;
    line-height: 28px;
    color: #fff;
}
.dashboard-card h3 {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin: 0px;
}

/*chart*/

.chartbox {
    margin-top: 15px;
}
.tabs-box {
    position: relative;
    background: #0000009c;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 58%);
    margin-bottom: 30px;
}
.widget-title {
    position: relative;    
    padding: 30px 30px 30px;
    min-height: 60px;
}
.widget-title h4 {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
}
.tabs-box.notificationsbx .widget-title h4 {
    margin-bottom: 20px;
}
ul.notification-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    height: 308px;
}
ul.notification-list li.notification-item {
    display: block;
    position: relative;
    min-height: 50px;
    padding-left: 62px;
    margin-bottom: 15px;
}
ul.notification-list li.notification-item span.user-avatar {
    display: block;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}
ul.notification-list li.notification-item label.notification-companyname {
    display: block;
    color: #86ee42;
    line-height: 17px;
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: 500;
}
ul.notification-list li.notification-item a.userread {
    color: #fff;
    line-height: 17px;
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
ul.notification-list li.notification-item .notification-meta small.timestamp {
    font-size: 12px;
    line-height: 15px;
    display: block;
        color: #d3d3d3;
}
ul.notification-list li.notification-item .notification-meta small.timestamp span {
    margin-right: 13px;
}
.notification-list::-webkit-scrollbar {
    width: 5px;
}
.notification-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.notification-list::-webkit-scrollbar-thumb {
    background: #b6bac1; 
    border-radius: 10px;
}
.notification-list::-webkit-scrollbar-thumb:hover {
    background: #b6bac1; 
}
.notification-item-all {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #ff2020 !important;
}

.mobilemenu {
    position: absolute;
    width: 25px;
    height: 30px;
    border-top: 2px solid #22BC7E;
    float: right;
    cursor: pointer;
    display: none;
    right: 0px;
    top: 9px;
}
.mobilemenu span {
    border-bottom: 2px solid #22BC7E;
    display: block;
    border-top: 2px solid #22BC7E;
    padding: 4px 0px;
    margin-top: 8px;
}
ul.mobilenav {
    display: none;
}
.dropdown.notifications ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.dropdown.notifications ul li {
    display: block;
}
.dropdown.notifications ul li a {
    white-space: normal;
    padding: 9px 0px;
    line-height: 17px;
    font-size: 13px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #3f444e;
}
.table-responsive .table.dt-responsive thead tr th:first-child {
    border-radius: 8px 0px 0px 8px !important;
}
.table-responsive .table.dt-responsive thead tr th:last-child {
    border-radius: 0px 8px 8px 0px !important;
}
.table-responsive .table.dt-responsive thead tr th {
    border-top: none !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 13px 20px;
    background-color: #181c23;
}
.table-responsive .table.dt-responsive tbody tr td:first-child {
    border-radius: 8px 0px 0px 8px !important;
}
.table-responsive .table.dt-responsive tbody tr td:last-child {
    border-radius: 0px 8px 8px 0px !important;
}
.table-responsive .table.dt-responsive tbody tr {
    background: #0000009c;
}
.table-responsive .table.dt-responsive tbody tr td {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 14px 20px;
    vertical-align: middle;
    border: none;
}
.table-responsive .dataTables_wrapper .dataTables_info {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #fff !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    color: #fff !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    border: none !important;
    color: #fff !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate span .paginate_button.current {
    background: #292e38 !important;
    color: #fff !important;
    border: 1px solid #292e38 !important;
    outline: none !important;
    box-shadow: none !important;
}
.table-responsive .table.dt-responsive {    
    border-bottom: none;
    border-spacing: 0px 10px;
}
.table-desc {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.table-responsive .dataTables_wrapper .dataTables_length label {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    
}
.table-responsive .dataTables_wrapper .dataTables_length label select {
    background: #292e38 !important;
    box-shadow: none !important;
    outline: none;
    border: 1px solid #292e38;
    margin: 0px 4px;
    color: #fff;
}
.table-responsive .dataTables_wrapper .dataTables_filter label {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    
}
.table-responsive .dataTables_wrapper .dataTables_filter label input[type="search"] {
    background: #292e38 !important;
    box-shadow: none !important;
    outline: none;
    border: 1px solid #292e38;
    margin-left: 10px;
    padding: 6px 12px;
    color: #fff;
}
td.actionbtn span {
    display: inline-block;
    margin: 3px 5px 3px 0px;
}
td.actionbtn span .icon-design {
    width: 32px;
    height: 32px;
    display: block;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    line-height: 32px;
    font-size: 17px;
    color: #000;
}
td.actionbtn span .view-accepted.icon-design {
    background: #55b755;
    color: #fff;
}
td.actionbtn span .view-rejected.icon-design {
    background: #EF4B3B;
    color: #fff;
}

.status-d span {
    display: inline-block;
    padding: 0px 14px;
    border-radius: 40px;
    color: #fff;
    line-height: 25px;
    font-weight: 500;
}
.pending {
    background: rgba(239, 75, 59,.3);
    color: #EF4B3B;
}
.confirm {
    background: rgba(59, 239, 123,.5);
}